body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.topo {
    text-align: center;
    font-size: 36px;
    margin: 30px 15px 20px 0;
}


.open {
    color: white;
    text-decoration: none;
    font-size: 35px;
    margin: 15px;
    color: white;
    padding: 2px 2px 2px;

}

#menu {
    transition: all 0.3s ease;
}

.container h2 {

    margin: 0 0 20px 0;
}

.container li {
    margin: 0 25px 10px 15px;
}

header {
    background: linear-gradient(to right, #FF4500, #FF8C00, #FFD700, #F0E68C);
    color: white;
    padding: 20px 0;
}

nav {
    background: linear-gradient(#FFD700, #FF4500);
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0;
    text-decoration: underline;
    font-size: 20px;
    display: block;
    text-decoration: none;
    padding: 12px 10px 12px 32px;

}

nav a:hover {
    color: #FFD700;
    background-color: white;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 250px;
}


p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 25px 20px 0;
}

/* Footer começa aqui */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

footer {
    background: linear-gradient(to right, #FF4500, #FF8C00, #FFD700, #d6c638);
    padding: 50px 0;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h3 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #cecdcd;
    padding-left: 10px;
}


/* responsividade do footer */
@media (max-width: 800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width:600px) {
    .footer-col {
        width: 100%;
    }
}

/* footer termina aqui */
